{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'expenses' %}">Expenses Summary</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Summary</li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2 text-right">
      <a href="{% url 'expenses' %}" class="btn btn-primary">Back</a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-8">
      <h4 class="text-center">Expenses Overview</h4>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    <div class="col-md-4">
      <!-- You can add additional summary details or statistics here -->
      <h5 class="text-center">Summary Statistics</h5>
      <ul class="list-group">
        <li class="list-group-item">Total Expenses: ${{ total_expenses }}</li>
        <li class="list-group-item">Average Expense: ${{ average_expense }}</li>
        <li class="list-group-item">Highest Expense: ${{ highest_expense }}</li>
        <li class="list-group-item">Lowest Expense: ${{ lowest_expense }}</li>
      </ul>
    </div>
  </div>
</div>

<script src="{% static 'js/stats.js' %}"></script>

{% endblock content %}